<p>
  observ works!
</p>

<div class="secure-text">
  TEXTO SECUREEEEEEEEEEEEEEEEEEEE
</div>
<input [(ngModel)]="valPas"  type="password"  />




<button (click)="nextA()">Next a </button>
<button (click)="nextB()">Next b </button>
<button (click)="clA()">Suscribe A</button>
<button (click)="clB()">Suscribe b</button>
<button (click)="pas()">Suscribe </button>
<button (click)="join()">Joi subs </button>
<button (click)="endjoin()">end Joi subs </button>
<button (click)="getInfo()">Only one </button>
<button (click)="getUser()">User</button>
<app-child-subs [obsChild]="obsSerach" ></app-child-subs>


