$basecols: 12;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 276px;

// Small tablets (portrait view)
$screen-md-min: 600px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

$debug: true;
$debugbox: true;
// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin sm-only {
  @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin md-only {
  @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-lg-min}) {
    @content;
  }
}
// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin lg-only {
  @media (min-width: #{$screen-lg-min}) and (max-width: #{$screen-xl-min}) {
    @content;
  }
}
// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}


@function percent($numcol) {
  @return unquote(($numcol * 100) / $basecols + "%");
}

@mixin box($numcol:null,$grow:0,$fix:null,$disp:true) {
  @if($fix!=null){
    flex: $grow 0 $fix;
  }
  @else if($numcol!=null){
    flex: $grow 0 percent($numcol);
  }
  @else if($grow==0){
    flex: 1 0 0%;
    $grow:1;
  }
  @else{
    flex: $grow 0 0%;
  }

  border: 1px solid blue;
  @if($disp==false){
    display: none;
  }@else{
    display: unset;
  }

  @if($debug==true and $debugbox==true){

     &:hover:before{
      border: 1px red solid;
      @if($fix!=null)
      {
        content: ' grow= '+ $grow + ' fixed= '+ $fix ;
      }
      @else if($numcol!=null){
        content: ' grow= '+ $grow +' pos= '+ $numcol  ;
      }@else{
        content: ' grow= '+ $grow   ;
      }

      position: relative;
      z-index: 888888888;
      top:0;
      left:0;
      right: 0;
      text-align: center;
      display: block;
      color: black;
      font-size: 13px;

    }

  }
}

@mixin flex($direc:row){
  display: flex;
  @if($direc){
    flex-direction: $direc;
  }
  @if($debug==true)
  { &:hover{
    border: 3px rgb(245, 9, 9) dotted;
  }}
}

@mixin debugmessage($message, $color: rgba(255,255,0, 0.9) ){
  @if($debug==true)
  { &::before{ content: $message; font-weight: bold; display: block; text-align: center; background: #{$color}; position: fixed; right: 0; left: 0; top: 0; z-index: 99; } }
}

.test{
  color:red;
}
/////////////////////////////////////////// DEBUG INFO media query

// Small devices
@media (min-width: #{$screen-sm-min}) {
  @include debugmessage("sm media query");

}


// Medium devices
@media (min-width: #{$screen-md-min}) {
  @include debugmessage("md media query");

}


// Large devices
@media (min-width: #{$screen-lg-min}) {
  @include debugmessage("lg media query");
}


// Extra large devices
@media (min-width: #{$screen-xl-min}) {
  @include debugmessage("xl media query");
}


.container-fields{
  @include flex();
  &>* {
     @include box();
   }
   @include sm-only(){
    flex-direction: column;
  }

}

.container-fields-col{
  @include flex($direc:column);
  &>* {
     @include box();
   }
}


.box{
 // min-height: 100px;
  border: 1px solid pink;
  margin: 8px ;
  position: relative;

  .infobox{
    position: absolute;
    display: none;
    background: blue;
  }
  .lab,.more{
    display: inline;
  }

  .moreinfo{
    display: none;
  }


  &:hover{
    .infobox{
      display: block;
      width: 100%;
      min-height: 100%;
      top:0;
      left:0;
      background: linear-gradient(blue,white);
      opacity: 1;
      z-index: 888;
      color: red;
      .more:hover{
        .lab{
          display: none;
        }
        .moreinfo{
          display: block;
        }
      }
    }
  }
}
