<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/first-page">Link 111111111111111111111111111111111111111111111111111111111</a>
      <a mat-list-item routerLink="/second-page">Link 2</a>
      <a mat-list-item routerLink="/third-page">Link 3</a>
      <a mat-list-item routerLink="/fx-page">My fx </a>
      <a mat-list-item routerLink="/table">My table</a>
      <a mat-list-item routerLink="/layoutest">Layaout test</a>
      <a mat-list-item routerLink="/observ">Subject multi test</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>layout
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Application Title</span>
    </mat-toolbar>
    <ng-template #header let-cl2="cl2">
      <app-child appChilddir></app-child>
      <div class="color">THIS IS THE HEADER XXXX</div>
      <button (click)="cl()">cahnge</button>
      <button (click)="cl2.cl()">cahnge 22</button>
    </ng-template>

   <!--  <app-my-layout-render>
      <ng-template #main>
        <div>
          <app-child></app-child>
        </div>
        {{cad}}
        <router-outlet></router-outlet>
      </ng-template>
      <ng-template #headerxx>
          this is the header
      </ng-template>
      <ng-template #footerxx>
        this is the footer
      </ng-template>

      <app-child></app-child>
    </app-my-layout-render> -->
     <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
