<div class="container-card-flex confb">
  <header class="container-header">
    HEADER
    <button class="show-nav" (click)="disp=!disp">Show</button>
  </header>
  <div class="container-main">
    <nav class="container-nav" [class.show]="disp==true">
      <ul>
        <li>opcion1</li>
        <li>opcion2</li>
        <li>opcion3</li>
        <li>opcion4</li>
      </ul>
    </nav>
    <section class="container-section">
      SECTION *********************************
    </section>
    <aside class="container-aside">ASIDE</aside>
  </div>
  <footer class="container-footer">
    FOOTER
  </footer>
</div>
