@import 'main.scss';

$heightNav: 35px;


.container-card-flex{

  @include flex();
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

    .show-nav{
      display: none;

      @include sm-only(){
        display: block;
      }
    }

    .show{
      display: block!important;
    }

    &.confa{
      .container-nav{
        order: 3;
      }

      .container-section{
        order: 1;
      }

      .container-aside{
        order: 2;
      }
    }

    &.confb{
      .container-nav{
        order: 3;
      }

      .container-section{
        order: 2;
      }

      .container-aside{
        order: 1;
      }
    }

    &.confc{
      .container-main{
        align-content: stretch;
      }

      .container-nav{
        order: 1;
        @include box(2,0);
        height: unset;
      }

      .container-section{
        order: 2;
        height: unset;
      }

      .container-aside{
        order: 3;
        height: unset;
      }
    }


    .container-header{
        @include box(1,0)
     }

     .container-footer{
      @include box(1,0)
    }

    .container-nav{
      @include box(12,0);
      order: 1;
      height: $heightNav;
      ul{
        margin: 0px;
        padding: 5px;
      }
      li{
        display: inline-block;
        padding: 3px;
      }
    }

    .container-section{
      height: calc(100% - #{$heightNav});
      @include box();
      order: 2;
    }

    .container-aside{
      @include box(2,0);
      height: calc(100% - #{$heightNav});
      border: 1px solid green;
      order: 3;
    }

    .container-main{
      @include box();
      @include flex();
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
    }

     @include sm-only
    //&.confd
    { &,&.confc,&.confa,&.confb{
      .container-main{
        align-content: stretch;
        position: relative;
      }

      .container-nav{
        order: 1;
        @include box(2,0);
        height: 100%;
        position: absolute;
        width: 100px;
        z-index: 888;
        background: azure;
        display: none;
      }

      .container-section{
        order: 2;
        height: unset;
      }

      .container-aside{
        order: 3;
        height: unset;
      }
    }
    }


}
