<div class="container-test">

<app-my-layout-render [propsAside]="{position: PositionLayout.RIGHT,width:'30' }"
[propsNav]="{position: PositionLayout.TOP,width:'80px',height:'40px',responsive:true }"
[propsHeader]="{height:'70px'}">
  <ng-template #main>
    <div>
      <my-mycomps></my-mycomps>
      <my-mytestcomp></my-mytestcomp>
      <app-child></app-child>
    </div>
    <form>
        <div *ngFor="let cc of all ; let i = index">
            <input type="text" [(ngModel)]="cad[i].val" [attr.name]="'ok'+i" name="ok{{i}}" [disabled]="!cad[i].enab" appChilddir [idFocus]="cad[i].idFocus"
            [nextTarget]="cad[i].next" maxlength=4>
       </div>
    <!-- <input type="text" [(ngModel)]="cad[0]"  [attr.name]="'ok'+0" name="'ok'+0">
    <input type="text" [(ngModel)]="cad[1]"  [attr.name]="'ok'+1" name="'ok'+1">
    <input type="text" [(ngModel)]="cad[2]"  [attr.name]="'ok'+2" name="'ok'+2"> -->
  </form>
  <form >
    <div *ngFor="let cc of all2 ; let i = index">
        <input type="text" [(ngModel)]="cad2[i].val" [attr.name]="'ok2'+i" name="ok2{{i}}" [disabled]="!cad2[i].enab" appChilddir [idFocus]="cad2[i].idFocus"
        [prevTarget]="cad2[i].back" maxlength=4 >
   </div>
</form>

  </ng-template>
  <ng-template #header>
      this is the header
  </ng-template>
  <ng-template #footer>
    this is the footer
  </ng-template>
  <ng-template #aside>
    this is the aside
  </ng-template>
  <ng-template #nav>
    <ul>
      <li>
        nav1
      </li>
      <li>
        nav2
      </li>
      <li>
        nav3
      </li>
    </ul>
  </ng-template>

  <app-child></app-child>
</app-my-layout-render>
</div>
