@import 'main.scss';
.container-form{


  .field7{
      //@include box(8);
  }

  .field6{
    @include box($grow:2);
  }

  .field5{
    @include box(7,2);
  }

  .field4{

  }

  .field3{
    @include box(6);
  }
  .field2{
    @include box($fix:150px);
  }
  .field1{
    @include box($grow:2);
  }
  ul {
    margin:0;
  }

  .box{
    min-height: 100px;
    border: 1px solid pink;
    margin: 8px ;
    position: relative;

    .infobox{
      position: absolute;
      display: none;
      background: blue;
    }
    .lab,.more{
      display: inline;
    }

    .moreinfo{
      display: none;
    }


    &:hover{
      .infobox{
        display: block;
        width: 100%;
        min-height: 100%;
        top:0;
        left:0;
        background: linear-gradient(blue,white);
        opacity: 0.8;
        z-index: 888;

        .more:hover{
          .lab{
            display: none;
          }
          .moreinfo{
            display: block;
          }
        }
      }
    }
  }

  .double{
    @include box(3);
  }


  @include sm-only(){
    .container-fields.typec {
      height: 300px;
      .field2-c{
        @include box($grow:2);
      }
      .field3-c{
        @include box($grow:2);
      }
    }
  }



}
