<div class="container-form">
  <div class="container-fields">
    <div class="field1">field1</div>
    <div class="field2">field2</div>
    <div class="field3">field3</div>
  </div>

  <div class="container-fields">
    <div class="field4">field4</div>
    <div class="field5">field5</div>
    <div class="field6">field6</div>
  </div>

  <div class="container-fields">
    <div class="field7">
      <div class="container-fields typec">
        <div class="field1-c">field1-c</div>
        <div class="field2-c">field2-c</div>
        <div class="field3-c">field3-c</div>
      </div>
    </div>
    <div class="field8">field8</div>

  </div>


  <div class="container-fields">

      <div class="box">box1
        <div class="infobox">
          <ul>
            <li>info1</li>
            <li>info2</li>
            <li>info3</li>
            <li>info4</li>
          </ul>
        </div>
      </div>
      <div class="box">box2
        <div class="infobox">
          <ul>
            <li>info1</li>
            <li>info2</li>
            <li>info3</li>
            <li>info4</li>
          </ul>
          <div class="more">
            <div class="lab">More ..</div>
            <div class="moreinfo">
              <ul>
                <li>info5</li>
                <li>info6</li>
                <li>info7</li>
                <li>info5</li>
                <li>info6</li>
                <li>info7</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="box">box3
        <div class="infobox">
          <ul>
            <li>info1</li>
            <li>info2</li>
            <li>info3</li>
            <li>info4</li>
          </ul>
          <div class="more"><div class="lab">More ..</div>
            <div class="moreinfo">
              <ul>
                <li>info5</li>
                <li>info6</li>
                <li>info7</li>
                <li>info5</li>
                <li>info6</li>
                <li>info7</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="box">box4
        <div class="infobox">
          <ul>
            <li>info1</li>
            <li>info2</li>
            <li>info3</li>
            <li>info4</li>
          </ul>
          <div class="more"><div class="lab">More ..</div>
            <div class="moreinfo">
              <ul>
                <li>info5</li>
                <li>info6</li>
                <li>info7</li>
                <li>info5</li>
                <li>info6</li>
                <li>info7</li>
              </ul>
            </div>
          </div>

        </div>
      </div>

  </div>

  <div class="container-fields">

    <div class="box">box1
      <div class="infobox">
        <ul>
          <li>info1</li>
          <li>info2</li>
          <li>info3</li>
          <li>info4</li>
        </ul>
        <div class="more"><div class="lab">More ..</div>
          <div class="moreinfo">
            <ul>
              <li>info5</li>
              <li>info6</li>
              <li>info7</li>
              <li>info5</li>
              <li>info6</li>
              <li>info7</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div class="box double">box2 <div class="infobox">
      <ul>
        <li>info1</li>
        <li>info2</li>
        <li>info3</li>
        <li>info4</li>
      </ul>
    </div></div>
    <div class="box">box3
      <div class="infobox">
        <ul>
          <li>info1</li>
          <li>info2</li>
          <li>info3</li>
          <li>info4</li>
        </ul>
      </div>

    </div>

</div>
</div>

<app-collection></app-collection>
