

.example-card {
  //max-width: 250px;
  padding: 25px;
  }
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.example-container {
  width: 100px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}


