@import 'main.scss';

.card{
  height: 800px;
}


.list-cards{
  @include flex();
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-between;

   .card-a{
    @include sm {
      @include box()
    }
    @include md {
      @include box(12)
    }
    @include lg {
      @include box(3.8,0)
    }
   }

   .card-b{
     @include sm {
       @include box();
     }
     @include md {
      @include box(12)
    }
     @include lg {
      @include box(8,0)
    }

   }


}

