<div class="card">
  <div class="list-cards">
 <app-my-card class="card-a"></app-my-card>
 <app-my-card class="card-b"> </app-my-card>
 <app-my-card class="card-a"></app-my-card>
 <app-my-card class="card-b"></app-my-card>
</div>
 <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened="{{open}}">Option 1</mat-drawer>
  <mat-drawer-content>Content drawer</mat-drawer-content>
</mat-drawer-container>

</div>
