@import 'main.scss';

.container-colec{
 @include flex();
$num-items-lg:7;
$num-items-xl:11;
$num-items-md:5;
flex-wrap: wrap;
    .item{

      .infobox{
        width: 200%;
        left: calc(100% + 12px);
      };

      @include box(1);
        border: 1px solid grey;
        //min-width: 100px;
        min-height: 100px;
        @include md-only(){
          @include box(2);
          &:nth-child(5n){
            background: greenyellow;
            .infobox{
              right: calc(100% + 12px);
              left: unset;
            };
          }
        }
        @include lg-only(){
          @include box(1.50);
          &:nth-child(6n){
            background: greenyellow;
            .infobox{
              right: calc(100% + 12px);
              left: unset;
            };
          }
        }
        @include xl(){
          @include box(1.2);
          &:nth-child(8n){
            background: greenyellow;
            .infobox{
              right: calc(100% + 12px);
              left: unset;
            };
          }
        }
      }
}

$breaks-line:(
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12
);
//$pref-media:xl;

@mixin media-breaks($pref-media) {
  @each $var in $breaks-line {

    .#{$pref-media}-#{nth($var, 1)}{
      @include box(nth($var, 1));
    }

  };
  .#{$pref-media}-hide{
    @include box($disp:false);
  }
  @each $var in $breaks-line {

    .#{$pref-media}-grow-#{nth($var, 1)}{
      @include box($grow:nth($var, 1));
    }

  };
}

@mixin all-media {
  @include xl (){
    @include media-breaks(xl);
  }
  @include md-only (){
    @include media-breaks(md);
  }
  @include lg-only (){
    @include media-breaks(lg);
  }
  @include sm-only (){
    @include media-breaks(sm);
  }
}

.container-fields{
   @include all-media();
}
