

<div class="container-fields">
  <div class="xl-3 lg-6 md-6">aaaaa</div>
  <div class="xl-3 lg-grow-2 md-3">bbbbbbb</div>
  <div class="xl-6 lg-grow-1 md-3">cccccccc</div>
</div>



 <div class="container-colec">

  <div *ngFor="let item of items" class="item box" >
      {{item.name}}
      <div class="infobox">
        Info about  {{item.name}}:
        <ul>
          <li>info1</li>
          <li>info2</li>
          <li>info3</li>
          <li>info4</li>
        </ul>
        <div class="more"><div class="lab">More ..</div>
          <div class="moreinfo">
            <ul>
              <li>info5</li>
              <li>info6</li>
              <li>info7</li>
              <li>info5</li>
              <li>info6</li>
              <li>info7</li>
            </ul>
          </div>
        </div>

      </div>
  </div>

</div>
