<p>
  my-fx-layout works!
</p>


<!-- <div (click)="cl()" (appStopCl)="cl2()">

  TESTING CLICLLL
</div> -->


<a (appStopCl)="cl2()" >llllllink</a>

<div fxLayout="row wrap"  fxLayoutAlign.xs="start stretch"
fxLayoutAlign.md="end stretch"
fxLayout.lg="row"
fxLayoutAlign.lg="end"
fxLayoutGap="" >
    <div class="item" fxFlex="5">item1</div>
    <div class="item" fxFlex="5">item2</div>
    <div class="item"fxFlex="80" fxFlex.lg="50">item3</div>

</div>

<button (click)="chRow()">Row container</button>
<button (click)="chCol()">Column container</button>
<button (click)="wrap()">Wrap container</button>
<div [fxLayout]="layoutCont" class="container-col">
  <div class="item" fxFlex="20" [fxShow.xs]="false">item1111</div>
  <div class="item" fxFlex="50">item2</div>
  <div class="item"fxFlex="30">item3</div>
  <div class="item"fxFlex="10">item3</div>

</div>
<div fxLayout="row" class="container-row-a">
  <div class="item" fxFlex="10">item1</div>
  <div class="item" fxFlex="50">item2</div>

</div>
