/* You can add global styles to this file, and also import other style files */

body { margin: 0; }

@font-face {
	font-family: "secure";
	font-style: normal;
	font-weight: normal;
	src: url("./assets/font/secure.woff");
	src: url("./assets/font/secure.woff") format("woff");
}
