@import 'main.scss';


.card-flex{
  height: 400px;
  width: 500px;
}

.container-box {
  padding: 10px;
  @include flex();
  @include sm {
    flex-direction: column;
  }
  @include md() {
    flex-direction: row;
  }

  .col-a {
    @include sm {@include box($disp:false)};
    @include md {@include box();color:khaki};
    @include lg {@include box();color:indianred};
    @include xl {@include box(4);color:red;};

  }

  .col-b {
    @include sm {@include box(0)};
    @include md {@include box($disp:false)};
    @include lg {@include box()};
    @include xl {@include box(4)};
  }

  .col-c {
    @include sm {@include box(0)};
    @include md {@include box(6,0)};
    @include lg {@include box(6,0)};
    @include xl {@include box(4)};
    @include flex();
  }



}
