.container-layout{
  border: 2px solid red;

  >div{
    border: 1px solid greenyellow;
  }

  .container-main{
    position: relative;
    >div{
      border: 1px solid greenyellow;
    }
    .nav-responsive{
      position: absolute;
      z-index: 999;
      background-color: white;
      height: 100%;
    }

  }

}
