<div class="container-layout" fxFlexFill fxLayout="column nowrap">

  <ng-template #nochild>
    NO CHILDDDDD
  </ng-template>
  <div *ngIf="headerRef" class="header" [fxFlex]="propsHeader.height">
    <ng-container *ngTemplateOutlet="headerRef">
    </ng-container>

  </div>

  <div *ngIf="navRef && propsNav.position===PositionLayout.TOP" class="nav" [fxFlex]="propsNav.height" [fxHide.lt-sm]="propsNav.responsive">
    <ng-container *ngTemplateOutlet="navRef">
    </ng-container>
  </div>

  <div class="container-main" fxFlex fxLayout="row nowrap">
    <div *ngIf="navRef && (propsNav.position===PositionLayout.LEFT||propsNav.position===PositionLayout.RIGHT) " class="nav" [fxFlex]="propsNav.width"
      [fxFlexOrder]="propsNav.position===PositionLayout.LEFT?1:3 ">
      <ng-container *ngTemplateOutlet="navRef">
      </ng-container>
    </div>
    <div *ngIf="navRef && (propsNav.position===PositionLayout.TOP||propsNav.position===PositionLayout.BOTTOM)" class="nav"
      [fxFlex]="propsNav.width" [fxFlexOrder]="1" fxShow="false" [fxShow.lt-sm]="propsNav.responsive">
      <ng-container *ngTemplateOutlet="navRef">
      </ng-container>
    </div>

    <div class="main" fxFlex="" fxFlexOrder="2">
      <ng-container *ngTemplateOutlet="mainRef">
      </ng-container>
    </div>
    <div *ngIf="asideRef" class="aside" [fxFlex]="propsAside.width" [fxFlexOrder]="propsAside.position===PositionLayout.LEFT ?0:4 ">
      <ng-container *ngTemplateOutlet="asideRef">
      </ng-container>
    </div>

  </div>

  <div *ngIf="navRef && propsNav.position===PositionLayout.BOTTOM" class="nav" [fxFlex]="propsNav.height">
    <ng-container *ngTemplateOutlet="navRef">
    </ng-container>
  </div>

  <div *ngIf="footerRef" class="footer" [fxFlex]="propsFooter.height">
    <ng-container *ngTemplateOutlet="footerRef; context: {cl2:this}">
    </ng-container>
  </div>


</div>
